# IntelliJ IDEA
.idea/
*.iml

# Build output
/out/
/target/

# Java class files
*.class

# JAR files
*.jar

# Log dosyaları
*.log

# Sistem dosyaları
.DS_Store
Thumbs.db

# Diğer geçici dosyalar
*.tmp
*.swp
